
.homeDesign {

    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: darkslategrey;
}

.movieShow {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;


}

.moviePic {

    height: 9em;
    width: 5em;

}