
.loginDesign {

    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: lightgoldenrodyellow;
}
.buttonDesign {

    height: 2.5em;
    width: 7.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;

    background-color: red;
    border-radius: 1em;

    cursor: pointer;

    color: white;

    transition: 0.2s;
    
}

.buttonDesign:hover{

    background-color: darkred;
    transition: 0.2s;
}